[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
pytest-django = "*"
pytest-asyncio = "*"
ipdb = "*"

[packages]
django = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3.8"
